%h1=t '.title', menu: @menu.name

%br
= link_to t('.add'), new_admin_menu_item_path, class: 'add-menu-item-btn btn btn-primary'
%br
%br

%ul.menu-items
  - @items.each do |item|
    = render 'item', item: item


.menu-items-modal.modal.hide.fade
